__pycache__/
nginx
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

.vscode/
*.code-workspace

.env_example
git
.github
.gitignore
